

<%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'pages', 'data-turbolinks-track': 'reload' %>





<div class="mid">
   <a href="#">
                  <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail antiquity">
                <%= image_tag("Antiquity.jpg", :alt => "Image", width: 200, :class => "image") %>
                <div class="caption">
                  <center><h3 class='hText'>Classical Antiquity</h3></center>
                  <center><p class='pText'>From 500 BC to 500 AD</p></center>
                  
                </div>
              </div>
            </div>
          </div>
        </a>
        
        <a href="#">
                  <div class="row">
            <div class="col-sm-6 col-md-4Rr">
              <div class="thumbnail middle">
                <%= image_tag("Middle.png", :alt => "Image", width: 200, :class => "image") %>
                <div class="caption">
                  <center><h3 class='hText'>Middle Ages</h3></center>
                  <center><p class='pText'>From 500 to 1400</p></center>
                  
                </div>
              </div>
            </div>
          </div>
        </a>
        
        <a href="#">
                  <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail rebirth">
              <%= image_tag("Rebirth.jpg", :alt => "Image", width: 200, :class => "image") %>
                <div class="caption">
                  <center><h3 class='hText'>Renaissance</h3></center>
                  <center><p class='pText'>From 1400 to 1600 </p></center>
                
                </div>
              </div>
            </div>
          </div>
        </a>
</div>